#top-bar-container {
	background-color: #E6E6E6;
}

#top-bar-mobile {
	background-color: #E6E6E6;
	font-size: 24px;
	line-height: 40px;
}

.no-bottom-margin {
	margin-bottom: 0;
}

.logo-color-1 {
	color: orange;
}

.logo-color-2 {
	color: #666666;
}

.error {
	color: red;
}

#content-top h1 {
	font-size: 40px;
	line-height: 40px;
	margin-bottom: 10px;
}

#content-top h1 small {
	font-size: 20px;
}

@media screen and (max-width: 639px) {
	#content-top h1 {
		font-size: 24px;
		line-height: 24px;
		margin-bottom: 6px;
	}
	#content-top h1 small {
		font-size: 16px;
	}
}

#content-top h2 {
	font-size: 24px;
	line-height: 24px;
	margin-bottom: 2px;
}

@media screen and (max-width: 639px) {
	#content-top h2 {
		font-size: 18px;
		line-height: 18px;
		margin-bottom: 2px;
	}
}


#content-top h3 {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 0px;
	font-style: italic;
	color: #666666;
}

fieldset p {
	line-height: 1.3;
	margin-bottom: 0.7rem;
}

.clickable {
	cursor: pointer;
}

.clickable:hover {
	background-color: #eeeeee;
}

.contenteditable {
	/*white-space: pre;*/
	/*white-space: pre-wrap;*/
	display: inline-block;
}

.red {
	color: red;
}

.green {
	color: green;
}

fieldset.smallfieldset {
	margin: 0.25rem 0;
	padding: 0.25rem 1.25rem 0.5rem 1.25rem;
}

.faint {
	opacity: 25%;
}

.label {
	margin-bottom: 0.25rem;
}